<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <div class="image-container">
      <% if customer.image.present? %>
        <%= image_tag customer.image, :class => "card-img-top" %>
      <%else %>
        <%= image_tag asset_path('blank_profile.png'), :class => "card-img-top" %>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= customer.fullName %></h5>
      <p class="card-text">Email: <%= customer.emailAddress %></p>
      <p class="card-text">Phone Number: <%= customer.phoneNumber %></p>
    </div>
  </div>
</div>